//欲改變的變數值

//顏色
$success: #33cc99;
$info: #4ba6f5;
$warning: #f79400;
$danger: #f34235;


//文字
$font-family-sans-serif: 'cwTeXYen',
'Varela Round',
system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

$font-size-base: 1.1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

//表單
$input-border-radius: 0;
$input-border-color: transparent;
$input-btn-border-width: 0;
$input-box-shadow: none;
$input-focus-bg: transparent;
$input-btn-focus-width: 0;
