//欲改變的變數值

//表單
$input-border-radius: 0;
$btn-border-width: 0;
$btn-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-focus-bg: transparent;
$btn-focus-width: 0;
$form-select-focus-width: 0;

//border
$border-radius: 15px;
$card-border-radius: 15px;

//pagination
$pagination-color: var(--bs-gray-600);
$pagination-bg: transparent;
$pagination-border-width: 0;
$pagination-border-radius: 0;

$pagination-focus-color: $success;
$pagination-focus-bg: transparent;
$pagination-focus-box-shadow: none;
$pagination-focus-outline: 0;

$pagination-hover-color: $success;
$pagination-hover-bg: transparent;
$pagination-hover-border-color: transparent;

$pagination-active-color: $success;
$pagination-active-bg: transparent;
$pagination-active-border-color: transparent;

$pagination-disabled-color: var(--bs-gray-600);
$pagination-disabled-bg: transparent;
$pagination-disabled-border-color: transparent;

$pagination-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
